{% extends './layout.html' %}
{% block content %}
<div class="container">
    <h1>Modulo de criptos</h1>
    <h2>Agregar cripto</h2>
    <form id="formAgregar" method="post" action="{{ url_for('criptos_post') }}">
        <div class="mb-3">
            <label for="marca">Nombre:</label>
            <input type="text" class="form-control" id="nombre" name="nombre" required>
        </div>
        <div class="mb-3">
            <label for="marca">Descripcion:</label>
            <input type="text" class="form-control" id="descripcion" name="descripcion" required>
        </div>
        <button type="submit" class="btn btn-primary">Agregar cripto</button>
    </form>
    <h2>Listado de criptos</h2>
    <ul class="list-group" id="listacriptos">
        {% for cripto in criptos %}
            <li class="list-group-item">
                Nombre: {{ cripto.nombre }} Descripción: {{ cripto.descripcion }}
                <div class="btn-group" role="group" aria-label="Acciones">
                    <button type="button" class="btn btn-warning btnEditar" data-id="{{ cripto.id }}">Editar</button>
                    <button type="button" class="btn btn-danger btnBorrar" data-id="{{ cripto.id }}">Borrar</button>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
<script src="jquery.js"></script>
<script>
    $(document).ready(function() {
        $('#formAgregar').submit(function(event) {
            event.preventDefault();
            $.post($(this).attr('action'), $(this).serialize(), function(response) {
                alert(response.message);
                location.reload();
            });
        });
        $('.btnEditar').click(function() {
            let criptoId = $(this).data('id');
            let nombre = prompt('Ingrese el nuevo nombre:');
            let descripcion = prompt('Ingrese la nueva descripcion:');
            
            $.ajax({
                type: 'PUT',
                url: '/criptos/' + criptoId,
                data: {
                    nombre: nombre,
                    descripcion: descripcion
                },
                success: function(response) {
                    alert(response.message);
                    location.reload();
                }
            });
        });
        $('.btnBorrar').click(function() {
            let criptoId = $(this).data('id');
            if (confirm('¿Está seguro de que desea borrar este cripto?')) {
                $.ajax({
                    type: 'DELETE',
                    url: '/criptos/' + criptoId,
                    success: function(response) {
                        alert(response.message);
                        location.reload();
                    }
                });
            }
        });
    });
</script>
{% endblock %}
