<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <title>LP</title>
    <style>
        body {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }

        .container {
            flex: 1;
            min-height: 75vh;
        }

    </style>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/principal">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/usuarios">Usuarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/divisas">divisas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/criptos">criptos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/nyse">Bolsa de valores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cryptonews">Noticias crypto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Cerrar sesión</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>

    <div id="footer">
        <footer class="bg-light text-center p-3">
            <p class="mb-0">© 2023 Este software fue desarrollado por Ramón Ruiz y Luis Mario López</p>
        </footer>
    </div>

</body>

</html>