{% extends './layout.html' %}

{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Imagen del dia: NASA</h3>
            <h5 class="card-title">{{ data.title }}</h5>
            <p class="card-text">{{ data.explanation }}</p>
            <p class="card-text"><small class="text-muted">Fecha: {{ data.date }}</small></p>
            <img src="{{ data.url }}" class="card-img-top" alt="{{ data.title }}">
            <a href="{{ data.hdurl }}" target="_blank" class="btn btn-primary">Ver en alta resolución</a>
        </div>
    </div>
</div>
{% endblock %}
