{% extends 'layout.html' %}
{% block content %}
<div class="container">
    <h1>Tareas</h1>

    <form id="formTareas" action="/tareas", method="POST">
        <label for="nombre">Nombre:</label>
        <input class="form-control" type="text" name="nombre" required>
        
        <label for="descripcion">Descripción:</label>
        <input class="form-control" type="text" name="descripcion" required>

        <button type="submit" id="btnAgregar" class="btn btn-primary">Agregar Tarea</button>
    </form>

    <div id="listaTareas">
        <!-- La lista de tareas se llenará dinámicamente aquí -->
        {% for tarea in tareas %}
            <div class="tarea">
                <p>{{ tarea.nombre }} - {{ tarea.descripcion }}</p>
                <button class="btn btn-warning btnEditar" data-id="{{ tarea.id }}">Editar</button>
                <button class="btn btn-danger btnEliminar" data-id="{{ tarea.id }}">Eliminar</button>
            </div>
        {% endfor %}
    </div>
</div>
<script src="jquery.js"></script>
<script>
    // Función para cargar y mostrar las tareas
    function cargarTareas() {
        $.ajax({
            url: '/tareas',
            type: 'GET',
            success: function (data) {
                var listaTareas = $('#listaTareas');
                listaTareas.empty();
                
                $.each(data, function (index, tarea) {
                    var tareaHtml = '<div class="tarea">' +
                                        '<p>' + tarea.nombre + ' - ' + tarea.descripcion + '</p>' +
                                        '<button class="btn btn-warning btnEditar" data-id="' + tarea.id + '">Editar</button>' +
                                        '<button class="btn btn-danger btnEliminar" data-id="' + tarea.id + '">Eliminar</button>' +
                                    '</div>';
                    listaTareas.append(tareaHtml);
                });
            }
        });
    }

    $(document).ready(function () {
        // Cargar tareas al cargar la página

        // // Agregar Tarea
        // $('#btnAgregar').click(function (e) {
        //     e.preventDefault();
            
        //     $.ajax({
        //         url: '/tareas',
        //         type: 'POST',
        //         data: $('#formTareas').serialize(),
        //         success: function (response) {
        //             alert('Tarea agregada exitosamente');
        //            location.reload();
        //         }
        //     });
        // });

        // Eliminar Tarea
        $(document).on('click', '.btnEliminar', function () {
            var tareaId = $(this).data('id');
            $.ajax({
                url: '/tareas/' + tareaId,
                type: 'DELETE',
                success: function (response) {
                    alert(response.message);
                    location.reload();
                }
            });
        });

        // Editar Tarea
        $(document).on('click', '.btnEditar', function () {
            var tareaId = $(this).data('id');
            var tareaDiv = $(this).closest('.tarea');
            var nombre = tareaDiv.find('p').text().split(' - ')[0];
            var descripcion = tareaDiv.find('p').text().split(' - ')[1];

            // Llenar el formulario con los datos de la tarea seleccionada
            $('#formTareas input[name="nombre"]').val(nombre);
            $('#formTareas input[name="descripcion"]').val(descripcion);

            // Cambiar la acción del formulario para que envíe una solicitud PUT al editar
            $('#formTareas').attr('action', '/tareas/' + tareaId);
            $('#btnAgregar').text('Editar Tarea');
        });
    });
</script>
{% endblock %}
