{% extends 'layout.html' %}
{% block content %}
<div class="container">
    <h1>Tareas</h1>

    <form id="formTareas" action="/tareas", method="POST">
        <label for="nombre">Nombre:</label>
        <input class="form-control" type="text" name="nombre" required>
        
        <label for="descripcion">Descripción:</label>
        <input class="form-control" type="text" name="descripcion" required>

        <button type="submit" id="btnAgregar" class="btn btn-primary">Agregar Tarea</button>
    </form>

    <h2>Listado de tareas</h2>
    <ul class="list-group" id="listadivisas">
        {% for tarea in tareas %}
            <li class="list-group-item">
                Nombre: {{ tarea.nombre }} Descripción: {{ tarea.descripcion }}
                <div class="btn-group" role="group" aria-label="Acciones">
                    <button type="button" class="btn btn-warning btnEditar" data-id="{{ tarea.id }}">Editar</button>
                    <button type="button" class="btn btn-danger btnEliminar" data-id="{{ tarea.id }}">Borrar</button>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
<script src="jquery.js"></script>
<script>
    
    $(document).ready(function () {
        $('.btnEliminar').click(function() {
            let tareaId = $(this).data('id');
            if (confirm('¿Está seguro de que desea borrar este cripto?')) {
                $.ajax({
                    type: 'DELETE',
                    url: '/tareas/' + tareaId,
                    success: function(response) {
                        alert(response.message);
                        location.reload();
                    }
                });
            }
        });
        $('.btnEditar').click(function() {
            let tareaId = $(this).data('id');
            let nombre = prompt('Ingrese el nuevo nombre:');
            let descripcion = prompt('Ingrese la nueva descripción:');
            
            $.ajax({
                type: 'PUT',
                url: '/tareas/' + tareaId,
                data: {
                    nombre: nombre,
                    descripcion: descripcion,
                },
                success: function(response) {
                    alert(response.message);
                    location.reload();
                }
            });
        });
    });
</script>
{% endblock %}
